
.grow {
    transition: all 0.5s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.2);
    transition-delay: 0.5s;
    position: relative;
    cursor: pointer;
  }
  
  .text-block {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:transparent;
    color: white;
    background-color: rgb(218, 216, 216);
    
  }